.calculator {
  margin: 20px auto;
  width: 230px;
}
.history {
  font-size: 13px;
  margin: 30px 0 0 0;
  padding: 0;
}
#root {
  width: 600px;
  margin: 0 auto;
}
.mainRow {
  width: 600px;
}
.txtBox, .btn {
  margin: 10px 0 10px 0;
}

